.cache/
auto-save-list/
eln-cache/
elpa/
lsp/
straight/
tree-sitter/
eshell
transient
.org-id-locations
bookmarks
history
ielm-history.eld
org-roam.db
projects
recentf
saveplace
*.*~
/config.el
/elpaca/
